.family_timeline_outer_container {
  /* position: relative; */
  width: 98vw;
}

.family_timeline_container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #F4F2EE;
}

.family_timeline {
  flex: 4;
  /* background-color: blue; */
  margin-top: 20px;
}

