.leftbarGroup_smallScreen_leftbar_outer_container{
/* flex: 1; */
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 20px;
  /* padding: 10px; */
  height: 90vh;
  width: 98vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 10;
  top: 70px;
}

.leftbarGroup_smallScreen_group_leftbar_container {
/* flex: 1; */
  /* margin-top: 20px; */
  /* margin-left: 0px; */
  /* margin-right: 20px; */
  /* padding: 10px; */
  height: fit-content;
  width: 300px;
  transition: width 2s ease-in-out;
  background-color: #ffffff;
  /* position: absolute; */
  /* z-index: 10; */
  top: 70px;
}

/* .leftbar_group_active {
  width: 300px;
} */

.leftbarGroup_smallScreen_group_profile_background_pic {
  height: 100px;
  width: 100%;
  position: relative;
  /* background-color: blueviolet; */
}

.leftbarGroup_smallScreen_group_profile_background_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.leftbarGroup_smallScreen_group_profile_pic {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  bottom: -50px;
  left: 100px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftbarGroup_smallScreen_group_profile_pic img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.leftbarGroup_smallScreen_group_profile_name {
  margin-top: 65px;
  text-align: center;

}

.leftbarGroup_smallScreen_group_profile_name p {
  font-size: 1.1rem;

}

.leftbarGroup_smallScreen_group_number_family_groups {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.leftbarGroup_smallScreen_group_groups,
.leftbarGroup_smallScreen_group_groups_number,
.leftbarGroup_smallScreen_group_members {
  font-size: 1rem;
  font-weight: 500;
}

.leftbarGroup_smallScreen_group_groups {
  color: #5E5E5E;
}

.leftbarGroup_smallScreen_group_groups_number {
  color: #0A66C2;
}

.leftbarGroup_smallScreen_group_groups:hover {
  text-decoration: underline;
  cursor: pointer;
}

.leftbarGroup_smallScreen_group_family_member_lists {
  margin-top: 10px;
  padding-left: 10px;
  /* padding-right: 10px; */
}

.leftbarGroup_smallScreen_group_family_member_lists li {
  padding: 5px;
  list-style: none;
  color: #5E5E5E;
  font-size: 1rem;
  /* background-color: blue; */
}

.leftbarGroup_smallScreen_group_family_member_lists li:hover {
  background-color: #EBEBEB;
  border-radius: 5px;
  cursor: pointer;
}


.leftbarGroup_smallScreen_group_members {
  display: flex;
  justify-content: space-between;
}

.leftbarGroup_smallScreen_group_members_title {
  color: #0A66C2;
}

.leftbarGroup_smallScreen_group_members_show {
  /* background-color: blue; */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.leftbarGroup_smallScreen_add_member {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: end;
  /* background-color: blue; */
}

/* .group_family_member_lists ul {
  background-color: red;
} */

/* .group_family_member_lists ul>li:first-child {
  display: flex;
  align-items: center;
  justify-content: end;
} */

.leftbarGroup_smallScreen_add_member span, .leftbarGroup_smallScreen_add_icon {
  color: #0A66C2;
}

.leftbarGroup_smallScreen_add_member:hover {
  text-decoration: underline;
}

/* .group_members_show:hover {
  background-color: #F3F3F3;
  
} */

.leftbarGroup_smallScreen_group_show,
.leftbarGroup_smallScreen_group_hide {
  color: #5E5E5E;
  /* border-radius: 50%; */
}

.leftbarGroup_smallScreen_group_show:hover,
.leftbarGroup_smallScreen_group_hide:hover {
  cursor: pointer;
  color: #a59c9c;
}

@media screen and (min-width: 600px) {
  .leftbarGroup_smallScreen_leftbar_outer_container {
    display: none;
  }
}