.confirmEmail_container {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F3F2F0;
}

.confirmEmail_position_setter {
  height: 100px;
}

@media screen and (max-width: 900px) {
  .confirmEmail_container {
    height: 100vh;
  }

}

@media screen and (max-width: 450px) {
  .confirmEmail_container {
    /* margin-left: 30px; */
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

}